@using WebSiteBanHang.ViewModels;

@model IEnumerable<KhachHang_GioHangViewModel>

@{
  ViewBag.Title = "XemGioHang";
  Layout = "~/Views/Layout/ProductLayout.cshtml";

}
<div class="cart-header col-md-9">
  @foreach (var item in Model)
  {
    using (Html.BeginForm("CapNhatGioHang", "GioHang", new { maGioHang = item.MaGioHang, maSP = item.MaSP, soLuong = item.SoLuong }))
    {
      @*<div class="close"> </div>*@
      <div class="cart-sec simpleCart_shelfItem">
        <div class="cart-item cyc">
          <img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" class="img-responsive" alt="" />
        </div>
        <div class="cart-item-info">
          <h3><a href="#">@item.TenSP</a></h3>
          <ul class="qty col-md-6">
            <li><p>Đơn giá: @item.DonGia</p></li>
            <li><p>Số lượng: <input type="text" id="quantity" name="quantity" class="form-control input-number" value=@item.SoLuong></p></li>
            @*<li><p>Số lượng: @item.SoLuong</p></li>*@
            @*<li>
                <p>
                  Số lượng:
                  <div class="col-lg-2">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value=@item.SoLuong min="1" max="100" />
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                  </div>
                  @*<span class="btn-up-down up">
                       <i class="icon icon-cart-item-plus"></i>
                    </span>
                </p>
              </li>*@

          </ul>
          <div>
            @*<input type="button" class="btn btn-primary col-md-2 edit_on" value="Sửa" />*@
            <input type="submit" class="btn btn-primary col-md-2 save_on" value="Lưu" />
            <a href="@Url.Action("XoaSanPhamKhoiGioHang","GioHang",new { @maSP =item.MaSP, @maGioHang =item.MaGioHang})" class="btn btn-primary col-md-2">Xóa</a>
            @*<input type="button" class="btn btn-primary col-md-2" value="Xóa" />*@
          </div>
          @*<div class="delivery">
              <p>Service Charges : Rs.100.00</p>
              <span>Delivered in 2-3 bussiness days</span>
              <div class="clearfix"></div>
            </div>*@
        </div>
        <div class="clearfix"></div>
      </div>
    }
  }
</div>
<div class="col-md-3 cart-total">
  <a class="continue" href="#">Tiếp tục mua hàng</a>
  <div class="price-details">
    <h3>Thanh toán chi tiết</h3>
    <span>Tổng tiền</span>
    <span class="total1">@ViewBag.TongTienDonHang</span>
    <span>Giảm giá</span>
    <span class="total1">---</span>
    @*<span>Phí vận chuyển</span>
      <span class="total1">150.00</span>*@
    <div class="clearfix"></div>
  </div>
  <ul class="total_price">
    <li class="last_price"> <h4>Tổng cộng</h4></li>
    <li class="last_price"><span>@ViewBag.TongTienDonHang</span></li>
    <div class="clearfix"> </div>
  </ul>
  <div class="clearfix"></div>
  <a class="order" href="@Url.Action("DatHang","GioHang",new {@maGioHang=ViewBag.maGioHang,@maKH=ViewBag.maKH })">Đặt hàng</a>
</div>
@*<script>
    $('.edit_on').click(function () {
      debugger
      $('#quantity').prop('disabled', false);
    })
    $('.save_on').click(function () {
      debugger
      $('#quantity').prop('disabled', true);
    })
  </script>*@