@using WebSiteBanHang.Models;
@model IEnumerable<WebSiteBanHang.Models.NguoiDung_LoaiNguoiDungModel>
@{
    ViewBag.Title = "QuanLyTaiKhoan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>QUẢN LÝ TÀI KHOẢN</h2>
@{
    <a href="@Url.Action("ThemTaiKhoan","QuanLyTaiKhoan")"><button type="button" class="btn btn-warning btn-xs fa fa-user-plus" style="float:right;">Thêm Tài Khoản</button></a>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Họ Tên</th>
                            <th>Tài Khoản</th>

                            <th>Loại Tài Khoản</th>
                            <th>Trạng Thái</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>
                                    @item.NGUOIDUNG.Ho @item.NGUOIDUNG.TenLot @item.NGUOIDUNG.Ten
                                </td>
                                <td>
                                    @item.NGUOIDUNG.TaiKhoan
                                </td>
                                <td>
                                    @item.LOAINGUOIDUNG.TenLoaiNguoiDung
                                </td>

                                @if (item.NGUOIDUNG.TrangThai == true)
                                {
                                    <td>Hoạt Động</td>
                                }
                                else
                                {
                                    <td>Ngưng Hoạt Động</td>
                                }

                                <td class="center">
                                    <a href="@Url.Action("SuaTaiKhoan","QuanLyTaiKhoan",new {MaNguoiDung = item.NGUOIDUNG.MaNguoiDung})">
                                        <span class="fa fa-pencil-square-o">
                                            Sửa
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="@Url.Action("XoaTaiKhoan","QuanLyTaiKhoan", new {MaNguoiDung=item.NGUOIDUNG.MaNguoiDung})">
                                        <span class="fa fa-times">
                                            Xóa
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

