@using WebSiteBanHang.Models;
@model IEnumerable<SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    //Khởi tạo control WebGrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 25);
}
<h2>QUẢN LÝ TÀI KHOẢN</h2>

@using (Html.BeginForm("SuaGia", "QuanLyGia", FormMethod.Post))
{

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Sửa giá</th>
                            <th>Giá mới </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>
                                    @item.MaSP
                                </td>
                                <td>
                                    @item.TenSP
                                </td>
                                <td>
                                    @item.DonGia
                                </td>
                                <td class="text-center">
                                    <input name="dssua" type="checkbox" value="@item.MaSP"/> 
                                </td>
                                <td class="center">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.EditorFor(@DonGia => item.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(@donGia => item.DonGia, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
}

